@import './normalize.css';

body {
    text-align      : center;
    background-color: #f6f6f6;
    margin          : 0 auto;
    color           : #666;
    font-size       : 14px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin    : 0;
}

#profile,
#shopcart {
    height     : 100vh;
    overflow   : hidden;
    padding-top: 50px;
}

.left {
    float: left;
}

.right {
    float: right;
}